.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-menu h1 {
    color: #262626;
    font-weight: 500;

}

.explore-menu-text {
    max-width: 60%;
    columns: #808080;
}

.explore-menu-list {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    text-align: center;
    overflow-x: auto;
    padding-bottom: 15px;
}

.explore-menu-list-item {
    flex-shrink: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.explore-menu-list-item:hover {
    transform: translateY(-5px);
}

.explore-menu-list::-webkit-scrollbar {
    height: 4px;
}

.explore-menu-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.explore-menu-list-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.explore-menu-list-item p {
    margin-top: 10px;
    color: #444;
    font-size: 15px;
    font-weight: 500;
}

.explore-menu hr {
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.explore-menu-list-item .active {
    border: 4px solid tomato;
    padding: 2px;
}

@media (max-width:1050px) {
    .explore-menu-text {
        max-width: 100%;
        font-size: 14px;
    }


}